body, html {
    min-height: 100%;
}

body {
    background-color: bisque;
    height: 100%;
    margin: 0%;

    background-repeat: no-repeat;
    background-size: cover;
  }

.navbar-brand {
    position: relative;
    left: -20px;
}
.web-name {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.search-engine {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.search-text {
    color: grey;
    text-align: center;
    font-family: 'Times New Roman';
}

.card-body {
    background-color: bisque;
}

#search-button {
    color: grey;
}
#movie-list {
    color: grey;
}
